@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

h1{
    color: darkcyan;
    font-family: 'Do Hyeon', sans-serif;
}

h2{
    color:forestgreen;
    font-family: 'Do Hyeon', sans-serif;
}