
<link rel="stylesheet" href="index.css">

        <div class="container-fluid">
            <div class="row">
                <%= image_tag 'indexbanner.png' %><br>
            </div>
        </div><br>

        <div class="container">
            <div class="row">
                <h1 class="text-center">Fitness & Wellness</h1>
            
            </div>
        </div>    

