<h1>Modifica il corso</h1>

<%= render 'form', course: @course %>

<%= link_to 'Mostra', @course, class:"btn btn-dark btn-block" %> |
<%= link_to 'Torna Indietro ', courses_path, class:"btn btn-dark btn-block" %>
