<div class="p-3 mb-2 bg-info text-white"></div>
<h1 class="text-center"><b>Modifica iscrizione</b></h1>
<div class="p-3 mb-2 bg-info text-white"></div>

<%= render 'form', subscribe: @subscribe %>

<%= link_to 'Mostra', @subscribe %> |
<%= link_to 'Torna indietro', subscribes_path %>
