<div class="p-3 mb-2 bg-info text-white"></div>
<h1 class="text-center"><b>Compila il modulo di iscrizione</b></h1>
<div class="p-3 mb-2 bg-info text-white"></div>

<%= render 'form', subscribe: @subscribe %>

<%= link_to 'torna indietro', subscribes_path, class:"btn btn-dark btn-block" %>
